<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static', filename='jquery.csv.js') }}"></script>
    <script src="{{ url_for('static', filename='bank-stats.js') }}"></script>
    <script>
    </script>
  </head>
  <body>
    <div id="linechart"></div>
    <div id="piechart"></div>
  </body>
</html>
